
	<div class="row">
		<div class="col-md-4"></div>
	  	<div class="col-md-4">
			<%= form_for [@project, @entry] do |f| %>
				<%= f.label :hours %>
				<%= f.text_field :hours, size: 4, class: "form-control" %>
				</br>
				<%= f.label :minutes %>
				<%= f.text_field :minutes, size: 4, class: "form-control" %>
				</br>
				<%= f.label :date  %>
				<%= f.date_select :date, size: 4, class: "form-control input-lg" %>
				</br>

				<%= f.submit class: "btn btn-primary btn-sm" %>
				<%= link_to('Cancel', project_entries_path(@project), class: "btn btn-default btn-sm")  %>
			<% end %>
		</div>
		<div class="col-md-4"></div>
	</div>

